---
import Layout from "../layouts/Layout.astro";
import Iletisim from "../components/Iletisim.astro";
---

<Layout title="Sayfa Bulunamadı | CAM-SAN Ticaret" image="/images/cam-san-ic.jpg">
	<main>
		<div class="content">
			<h1>Sayfa bulunamadı</h1>
			<p>
				Tüm ürünlerimizi <a
					href="https://www.facebook.com/profile.php?id=100024079454524"
					target="_blank">Facebook</a
				> sayfamızdan görebilirsiniz.
			</p>
		</div>

		<Iletisim />
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		justify-content: space-between;
	}
</style>
