---
import Layout from "../layouts/Layout.astro";
import Iletisim from "../components/Iletisim.astro";
---

<Layout title="Hakkında | CAM-SAN Ticaret" image="/images/cam-san-ic.jpg">
	<main>

		<img src="/images/cam-san-urunler.jpg" width="300" alt="">

		<div class="content">
			<h1>Hakkında</h1>
			<p>
				Cam-San Çorum’un önde gelen cam ve çerçeve alım-satımı yapan
				şirketidir.
			</p>
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		gap: 1.5em;
	}
</style>
