---
import Layout from "../layouts/Layout.astro";
import Iletisim from "../components/Iletisim.astro";
---

<Layout title="İletişim | CAM-SAN Ticaret" image="/images/cam-san-dis-banner.jpg">
	<main>
		<Iletisim currentPage />

		<img src="/images/cam-san-dis-yeni.jpg" width="500" alt="CAM-SAN Dükkan Dışarıdan Fotoğraf">

	</main>
</Layout>

<style lang="scss" is:global>
	main {
		display: flex;
		justify-content: center;
		gap: 1.5em;
		flex-wrap: wrap;

		aside {
			width: 100%;
			flex: 1;
		}

		img {
			flex: 1;
		}
	}
</style>
