---
import Layout from "../layouts/Layout.astro";
import Iletisim from "../components/Iletisim.astro";
---

<Layout title="İletişim | CAM-SAN Ticaret" image="/images/cam-san-ic.jpg">
	<main>
		<Iletisim />
	</main>
</Layout>

<style lang="scss" is:global>
	main {
		display: flex;
		justify-content: center;

		aside {
			width: 100%;
		}
	}
</style>
