---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="CAM-SAN Ticaret | Cam, Ayna, Resim, Çerçeve, Tuval ve Ağaç İşleri"
>
	<img src="/images/cam-san-ic.jpg" alt="" />
	<main>
		<div class="welcome-box">
			<h1>Cam-San Ticaret Web Sitesine Hoşgeldiniz.</h1>
			<a href="/iletisim/" class="button">Bize Burdan Ulaşabilirsiniz</a>
		</div>

		<div class="features">
			<div class="feature">
				<h2>Camcılıkta Yarım Asırlık Tecrübe</h2>
				<p>
					Cam-San, 30 yılı aşkın birikimiyle Çorum'un en eski ve
					tecrübeli cam alım satım yapan ticari kurumlarından
					biridir...
				</p>
			</div>
			<div class="feature">
				<h2>Birbirinden Şık Tasarımlı Çerçeveler</h2>
				<p>
					Resimleriniz, fotoğraflarınız ve kişisel hobi
					çalışmalarınızın tamamlayıcı aksesuarı olan
					çerçevelerimiz...
				</p>
			</div>
			<div class="feature">
				<h2>Çorum’da Ayna, Cam-San’dan Alınır</h2>
				<p>
					Aynalar, hem evimizi hem işyerlerimizi güzelleştiren
					vazgeçilmez eşyalarımızdandır. Cam-San, sizlere çeşitli boy
					ve ebatlarda en güzel çerçevelerle süslenmiş aynalar
					sunar...
				</p>
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	.welcome-box {
		display: flex;
		justify-content: space-between;
		padding: 1.5em;
		margin-bottom: 1.5em;
		background: #f5f5f5;
		box-shadow: inset 0 0 3em #e2e2e2;
		border: 1px solid #ddd;
		color: var(--secondary);
	}

	.features {
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		gap: 1.5em;

		& > .feature {
			box-shadow: 0 0 5px #ddd;
			border: 1px solid #ddd;
			padding: 1.5em;

			h2 {
				color: var(--primary);
			}
		}
	}
</style>
