---
// import Navigation from "./Navigation.astro";
---

<footer>
	<span>Tüm Hakları Saklıdır. © {new Date().getFullYear()} CAM-SAN</span>
	<!-- <span>Çorum/Merkez</span> -->
</footer>

<style lang="scss">
	footer {
		background-color: var(--primary);
		color: white;
		padding: 15px 2em;
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 1.5em;
		font-size: 0.8em;
	}
</style>
