---
import Navigation from "./Navigation.astro";
---

<header>
	<a href="/"><img src="/images/camsan-logo.png" alt=""></a>
</header>
<Navigation />

<style lang="scss">
	header {
		padding: 3em 2.7em;
	}
</style>
