---
const currentPath = new URL(Astro.request.url).pathname.replaceAll('/', '');

// export interface Props {
// 	current: string;
// }

// const { current } = Astro.props;
---

<nav>
	<a href="/">Anasayfa</a>
	<a href="/urunler/" class={currentPath == "urunler" ? "active" : ""}>Ürünler</a>
	<a href="/hakkinda/" class={currentPath == "hakkinda" ? "active" : ""}>Hakkında</a>
	<a href="/iletisim/" class={currentPath == "iletisim" ? "active" : ""}>İletişim</a>
</nav>

<style lang="scss">
	nav {
		background-color: var(--primary);
		padding: 1.5em 2.5em;
		display: flex;
		justify-content: center;
		gap: 3vw;
		text-transform: uppercase;

		a {
			color: white;
			font-size: 0.9em;

			&.active {
				text-decoration: underline;
			}
		}
	}
</style>
